{% extends 'base.html.twig' %}

{% block title %}ZenPDF - {{ tool.name }}{% endblock %}

{% block body %}
    <div {{ react_component('HtmlPage', { tool: tool, allTools: allTools }) }}>
        Loading...
    </div>
{% endblock %}
