{% extends 'base.html.twig' %}

{% block title %}ZenPDF - Convertisseur{% endblock %}

{% block body %}
    <div {{ react_component('ConvertPage', { tools: tools, allTools: allTools|default(tools) }) }}>
        Loading...
    </div>
{% endblock %}