{% extends 'base.html.twig' %}

{% block title %}ZenPDF - {{ tool.name }}{% endblock %}

{% block body %}
    <div {{ react_component('SplitPage', {
        tool: tool,
        allTools: allTools,
        user: app.user ? { firstname: app.user.firstname, lastname: app.user.lastname, email: app.user.email, isBasic: is_granted('ROLE_BASIC'), isPremium: is_granted('ROLE_PREMIUM'), generationsToday: app.user ? user_generations_today() : 0, limitGeneration: app.user and app.user.plan ? app.user.plan.limitGeneration : 0 } : null
    }) }}>
        Loading...
    </div>
{% endblock %}