{% extends 'base.html.twig' %}

{% block title %}ZenPDF - Convertissez vos fichiers en PDF{% endblock %}

{% block body %}
    <div {{ react_component('PageLayout', { plans: plans, tools: tools }) }}>
        Loading...
    </div>
{% endblock %}