{% extends 'base.html.twig' %}

{% block title %}ZenPDF - Formules & Tarifs{% endblock %}

{% block body %}
    <div {{ react_component('PricingPage', { plans: plans, tools: tools }) }}>
        Loading...
    </div>
{% endblock %}
